{% extends 'layouts/main.html' %}
{% block title %}
  shopping|online shopkart
{% endblock title %}


{% block content %}

   
    <h1><b>Cart Items</b></h1>
   
   
      <table class=" table table-bordered">
        <tr>
            <th>image</th>
            <th>Product Name</th>
            <th>Unit</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>remove</th>
        </tr>
        {% for item in cart %}
        <tr>
            <td><img src="{{item.product.product_image.url}}"height="75px" alt="{{item.product.name}}"></td>
            <td>{{item.product.name}}</td>
            <td>{{item.product.selling_price | stringformat:'d'}}</td>
            <td>{{item.product_qty}}</td>
            <td class="amt">{{item.total_cost | stringformat:'d'}}</td>
            <td><a href="{% url 'remove_cart' item.id %}"onclick="return confirm('Are you sure? to remove')"class=" btn btn-danger btn-sm"><i class="bi bi-trash">Remove</i></button></td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td colspan="2"><b>Total Amount</b></td>
            <td id="net">0</td>
            
        </tr>

      </table>
      <script>
        const nodes=document.querySelectorAll('.amt');
        const arr=Array.from(nodes);
        const res=arr.reduce((acc,curr) => {

            return acc+= Number(curr.textContent)
        },0);
        document.getElementById("net").innerHTML="Rs : "+ res;

      </script>
      {% endblock content %}
     