{% extends 'layouts/main.html' %}
{% block title %}
  shopping|online shopkart
{% endblock title %}


{% block content %}

    <section class="bg-light py-4 my-5">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h4 class="mb-1"> user login</h4>
              {% include 'navs/message.html' %}
  
            </div>
          </div>

          <section class="py-4 my-5">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <form method="post" action="">
                    {% csrf_token %}
                    <div class="mb-4">
                      <label for="" class="form-label">username</label>
                      <input type="text" name="username" id="username" class="form-control" placeholder="Enter Username">
                      
      
      
                    </div>
                    
                    <div class="mb-4">
                      <label for="" class="form-label">password</label>
                      <input type="text" name="password" id="password" class="form-control" placeholder="Enter Password">
                      
      
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
        </div>
              </div>
            </div>
          </section>
        </div>
      </form>
    
      </section>
{% endblock content %}