
<footer class="text-center text-lg-start bg-dark text-white">
  <section class="container d-flex justify-content-center justify-content-lg-between p-4">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
      <a href="" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
      <a href="" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
      <a href="" class="me-4 text-reset"><i class="fa fa-whatsapp"></i></a>
      <a href="" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
      <a href="" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
    </div>
  </section>
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i>shopkart</h6>
          <p>Shopkart.com is a one stop destination for your family's fashion needs.
            We give you the opportunity to give your wardrobe a make over with the latest collections from our top brand
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">products</h6>
          <p><a href="{% url 'home' %}"class="text-reset">Home</a></p>
          <p><a href="{% url 'collections' %}"class="text-reset">collections</a></p>
          <p><a href="{% url 'cart' %}"class="text-reset">Cart</a></p>
          <p><a href="{% url 'favviewpage' %}"class="text-reset">Favourite</a></p>
          
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">userlinks</h6>
          <p><a href="{% url 'register' %}"class="text-reset">Register</a></p>
          <p><a href="{% url 'login' %}"class="text-reset">Login</a></p>
          <p><a href="{% url 'home' %}"class="text-reset">Home</a></p>
          
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">contact</h6>
          <p><i class="fa fa-home"></i>yuvanchanthar</p>
          <p><i class="fa fa-envelope"></i>yuvanpraveen@gmail.com</p>
          <p><i class="fa fa-phone"></i>9876543211</p>
        </div>


      </div>
    </div>
  </section>
  <div class="text-center p-4">
    &copy;2023 copyright<a class="text-reset fw-bold" href=""></a>
  </div>
</footer>
