<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Shopkart</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        {% if request.user.is_authenticated %}
        <a class="nav-link" href="#">{{request.user}}</a>
        <a class="nav-link" href="{% url 'logout' %}">logout</a>
        {% else %}
        <a class="nav-link" href="{% url 'register' %}">register</a>
        <a class="nav-link" href="{% url 'login' %}">login</a>
        {% endif %}
        <a class="nav-link" href="{% url 'collections' %}">collections</a>
        <a class="nav-link" href="{% url 'cart' %}">cart</a>
        <a class="nav-link" href="{% url 'favviewpage' %}">Favourite</a>
        
      </div>
    </div>
  </div>
</nav>